* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", Calibri, sans-serif;
}

body {
	background-color: #999999;
	padding: 0 20px;
}

header {
	height: 300px;
	margin-top: 80px;
	background-image: url(../assets/design1_image1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

header>h1 {
	font-size: 60px;
	font-weight: normal;
	text-transform: capitalize;
	font-style: italic;
	text-shadow: 1px 1px 2px #aaaaaa;
	position: absolute;
	top: -90px;
	left: 12%;
	margin-left: -45px;
}

.logo {
	height: 150px;
	width: 150px;
	position: absolute;
	z-index: 1;
	top: -80px;
}

nav {
	position: absolute;
	top: -50px;
	right: 30px;
}

nav>a {
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 10px 0;
	text-decoration: none;
	padding: 0px 10px;
	margin: 0px 3px;
	background-color: #801515;
	color: #ffffff;
	transform: skew(-20deg, 0deg);
}

nav>a:hover {
	background-color: #ffffff;
	color: #801515;
}

a[href="#"] {
	text-decoration: none;
	outline: 5px ridge #801515;
	outline-offset: 3px;
}

h2 {
	display: block;
	background-color: #801515;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #000000;
}

.sangria {
	width: 900px;
	padding-top: 20px;
	position: absolute;
	top: 430px;
	left: 400px;

}

.figure {
	height: 300px;
	width: 300px;
	margin: 20px;
}

.imagen {
	object-fit: cover;
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 15px 5px #000000;
}

article>p {
	text-indent: 20px;
	padding-right: 100px;
}

p {
	padding-bottom: 20px;
}

.mail {
	text-decoration-color: #000000;
}

section {
	height: 500px;
}