* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Comic Sans MS", Calibri, sans-serif; */
  font-family: "Roboto", sans-serif;
}

body {
  height: 200vh;
  background-color: #999999;
  padding: 0 20px;
  height: 100vh;

  /* background-image: url(../assets/Logo_Mighty_ducks-01.png);
	background-size: cover;
	background-position: center; */
  /* opacity: 0.7; */
}

header {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  border: solid;

  background-image: url(../assets/design1_image1.jpg);
  background-size: cover;
  background-position: center;
}

header > h1 {
  flex-grow: 1;
  width: 90%;
  font-size: 40px;
  font-weight: bolder;
  text-transform: capitalize;
  font-style: italic;
  text-shadow: 1px 1px 2px #aaaaaa;
  padding: 20px 0;
}

.logo {
  width: 100px;
  height: 100px;
}

.fit {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 20px 15px;
  justify-content: center;

  backdrop-filter: blur(10px);
  box-shadow: 0 0 15px #130101;
}

nav > a,
.boton {
  width: 100px;
  text-align: center;
  font-size: 15px;
  border: 2px solid #000000;
  border-radius: 10px 0;
  text-decoration: none;
  padding: 5px 5px;
  margin: 5px;
  background-color: #801515;
  color: #ffffff;
  /* transform: skew(-20deg, 0deg); */
  height: 30px;
  justify-content: end;
  align-content: flex-end;
}

nav > a:hover,
.boton:hover {
  background-color: #ffffff;
  color: #801515;
}

a[href="#"] {
  text-decoration: none;
  outline: 5px ridge #801515;
  outline-offset: 3px;
}

/*********************************************/

section,
.reg-form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-bottom: 30px;
}

h2 {
  width: 100%;
  background-color: #801515;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #000000;
}

.figure {
  height: 300px;
  width: 400px;
  margin: 20px;
}

.imagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 15px 5px #000000;
}

article,
section > div {
  padding: 20px 0 0 10px;
  width: 65%;
}

.indent {
  text-indent: 30px;
}

p {
  padding-bottom: 20px;
}

.mail {
  text-decoration-color: #000000;
}

/******* LISTAS *******/

.rules,
.game-info {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.nolinebreak {
  /*Elimina los saltos de linea*/
  display: inline;
}

.main-list {
  list-style-position: inside;
  padding-bottom: 20px;
}

.sublist {
  /* padding-left: 20px; */
  list-style-type: lower-latin;
}

section > h3 {
  padding-bottom: 10px;
  margin-top: 20px;
}

.center {
  text-align: center;
  margin: 15px;
}

ul > li::marker {
  content: "○ ";
}

ul > li {
  margin-left: 60px;
}

.game-info {
  align-items: center;
}

/************* Tabla *************/

table {
  height: 500px;
  /* width: 500px; */
}

table,
th,
td {
  /* border: 2px solid; */
  padding: 2px;
  text-align: left;
  text-indent: 10px;
  /* table-layout: fixed; */
}

.right {
  text-align: right;
  padding-right: 25px;
}

.question {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/************* formulario *************/

form,
fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

form {
  width: 600px;
  margin-top: 20px;
  background-color: #801515;
  padding: 5px;
  color: #ffffff;
}

fieldset {
  padding: 15px;
  border: none;
  margin-top: 10px;
  border-bottom: 2px #656565 solid;
}

.reg-form {
  justify-content: center;
}

.boton {
  width: 100px;
}

label {
  margin: 10px;
}

input,
select {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}

input[id="date"],
input[id="birth"],
input[id="zip-code"],
select {
  width: 40%;
  display: block;
}

@media screen and (max-width: 425px) {
  input[id="date"],
  input[id="birth"],
  input[id="zip-code"],
  select {
    width: 100%;
    display: block;
  }
}

.school {
  height: 100px;
}

.inline {
  width: 15px;
  margin: 5px;
  vertical-align: middle;
}

legend {
  padding-top: 10px;
  font-weight: bolder;
}

.permission {
  padding-top: 10px;
  padding-left: 5px;
  font-weight: bolder;
}

fieldset.radio1 {
  border-bottom: none;
}

fieldset.radio1 > label,
fieldset.radio > label,
fieldset.check > label {
  width: 140px;
}

.radio,
.check,
.radio1 {
  flex-direction: row;
  /* justify-content: space-around; */
  /* justify-content: flex-start; */
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.m-select {
  font-size: 12px;
  margin-top: 10px;
}

.justify {
  text-align: justify;
  padding: 0;
}

/************* Mapas *************/

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 50%;
  height: 30rem;
}

@media screen and (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 20rem;
  }
}

.card > iframe {
  width: 90%;
  height: 90%;
}

.card > h4 {
  padding-bottom: 10px;
}
