* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: "Comic Sans MS", Calibri, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

body {
	background-color: #999999;
	padding: 0 20px;
}

header {
	display: flex;
	align-items: top;
	height: 300px;
	background-image: url(../assets/design1_image1.jpg);
	background-size: cover;
	background-position: center;
}

header>h1 {
	height: 100px;
	flex-grow: 1;
	font-size: 50px;
	font-weight: normal;
	text-transform: capitalize;
	font-style: italic;
	text-shadow: 1px 1px 2px #aaaaaa;
}

.logo {
	height: 100px;
	width: 100px;
}

nav {
	padding: 40px;
	height: 100px;
}

nav>a {
	display: inline-block;
	border: 2px solid #000000;
	border-radius: 10px 0;
	text-decoration: none;
	padding: 0px 10px;
	margin: 5px 3px;
	background-color: #801515;
	color: #ffffff;
	transform: skew(-20deg, 0deg);
}

nav>a:hover {
	background-color: #ffffff;
	color: #801515;
}

a[href="#"] {
	text-decoration: none;
	outline: 5px ridge #801515;
	outline-offset: 3px;
}

/*********************************************/

section {
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	/* border: #000000 solid; */
}

h2 {
	width: 100%;

	background-color: #801515;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid #000000;
}

.figure {
	height: 300px;
	width: 30%;
	margin: 20px;
}

.imagen {
	object-fit: cover;
	width: 100%;
	height: 100%;
	box-shadow: 5px 5px 15px 5px #000000;
}

article, section>div{
	padding: 20px 0 0 10px;
	width: 65%;
}

article>p {
	text-indent: 20px;
	padding-right: 100px;
}

p {
	padding-bottom: 20px;
}

.mail {
	text-decoration-color: #000000;
}